.container {
  max-width: 960px;
}

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }
.border-top-gray { border-top-color: #adb5bd; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.lh-condensed { line-height: 1.25; }

 .deviceadd .btn-primary {position: relative;
  margin-left: 50px;   
 }

 .row .attach {
  margin-left: 50px;
 }

 .row .footer {
   position: relative;
   margin-left:100px;
 }

 .row .btn-info, .row .btn {
   background-color: #006ba6;
 }

 .row .submit {
  background-color: #f4e501;
  color: #1b355d;  
 }



 